<p id="notice"><%= notice %></p>

<h1>Listing Work Items</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th>Description</th>
      <th>Picture</th>
      <th>User</th>
			<th>Location</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_items.each do |work_item| %>
      <tr>
        <td><%= work_item.priority %></td>
        <td><%= work_item.description %></td>
        <td><%= work_item.picture %></td>
        <td><%= work_item.user_id %></td>
				<td><%= work_item.location_id %></td>
        <td><%= work_item.status %></td>
        <td><%= link_to 'Show', work_item %></td>
        <td><%= link_to 'Edit', edit_work_item_path(work_item) %></td>
        <td><%= link_to 'Destroy', work_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work item', new_work_item_path %>
